// Responsive PC 1920p x 1080p 
@media only screen and (min-width: 1920px) {
  body{background: white;}
  
  .icontel{
    width: 16px;
    height: 16px;
   
       }

  .googlemap{
    width: 700px;
    height: 550px;

  }
.menunav{ 
  margin-left: 100px;
}
.navbar{
  font-size: 35px;
  }

  .nav-link:hover{
    background-color: rgba($color: #000000, $alpha: 0.3);
    color: red;
  }
  .pandita{
height: 45px;
  }
.telefono{
  font-size: 125%;
}

}

// Resonsive pc 1080p
  @media only screen and (max-width: 1080px) {
    body{background: white;}

.icontel{
  width: 16px;
  height: 16px;
 
     }
    .cartaimagenes{
      margin-left: -225px;
      margin: 0%;
      padding: 0;
      width: 800px;
      height: 800px;
    }
    .googlemap{
      margin-top: 15%;
      width: 500px;
      height: 490px;
  
    }
    .menunav{ 
      margin-left: 5px;
    }
    .navbar{
      font-size: 25px;
      }
    
      .nav-link:hover{
        background-color: rgba($color: #000000, $alpha: 0.3);
        color: red;
      }
      .pandita{
    height: 35px;
      }

      .telefono{ 
        font-size: 125%;

      }
    }
  
      // Responsive 800p 
@media only screen and (max-width: 800px) {
  body{background: white;}
  .cartaimagenes{
    margin: 0%;
    padding: 0;
    margin-left: -11px;
    width: 800px;
    height: 800px;
  }
  .googlemap{
    margin-top: 15%;
    width: 500px;
    height: 490px;

  }
  .menunav{ 
    margin-left: 5px;
  }
  .navbar{
    font-size: 25px;
    }
  
    .nav-link:hover{
      background-color: rgba($color: #000000, $alpha: 0.3);
      color: red;
    }
    .pandita{
  height: 35px;
    }

   .redes{
     text-align: start;
     margin-left: 350px;
     margin-top: -45px;
   }
    .telefono{ 
      font-size: 125%;
      margin-right: -150px;
      .icontel{
        width: 16px;
        height: 16px;
       
           }
    }
  }
   // Responsive  767
@media only screen and (max-width: 767px) {
  body{background: white;}
  .icontel{
    width: 16px;
    height: 16px;
   
       }
  .googlemap{
    margin-top: 15%;
    width: 500px;
    height: 490px;

  }
  .menunav{ 
    margin-left: 5px;
  }
  .navbar{
    font-size: 25px;
    }
  
    .nav-link:hover{
      background-color: rgba($color: #000000, $alpha: 0.3);
      color: red;
    }
    .pandita{
  height: 35px;
    }
    .redes{
      text-align: start;
      margin-left: 350px;
      margin-top: -45px;
    }
     .telefono{ 
       
       font-size: 125%;
       margin-right: 350px;
  }
}
@media only screen and (max-width: 700px) {
  body{background: white;}
  .cartaimagenes{
    margin: 0%;
    padding: 0;
    margin-left: -31px;
    width: 700px;
    height: 800px;
  }
  .icontel{
    width: 16px;
    height: 16px;
   
       }
  .googlemap{
    margin-top: 15%;
    width: 500px;
    height: 490px;

  }
  .menunav{ 
    margin-left: 5px;
  }
  .navbar{
    font-size: 25px;
    }
  
    .nav-link:hover{
      background-color: rgba($color: #000000, $alpha: 0.3);
      color: red;
    }
    .pandita{
  height: 35px;
    }
    .redes{
      text-align: start;
      margin-left: 350px;
      margin-top: -45px;
    }
     .telefono{ 
       font-size: 125%;
       margin-right: 350px;
  }
}
    // Responsive celular
    @media only screen and (max-width: 420px) {
      aside{background: black;}
      body{background: white;}
      .cartaimagenes{
        margin: 0%;
        padding: 0;
        margin-left: -11px;
        width: 410px;
        height: 800px;
      }
      .googlemap{
        margin-top: 15%;
        width: 500px;
        height: 490px;
    
      }
      .menunav{ 
        margin-left: 5px;
      }
      .navbar{
        font-size: 25px;
        }
      
        .nav-link:hover{
          background-color: rgba($color: #000000, $alpha: 0.3);
          color: red;
        }
        .pandita{
      height: 35px;
        }     
        .redes{ 
       margin-left: 200px;
        margin-top: -10x;}
        .telefono{ 
          font-size: 125%;
          margin-right: 150px;
          .icontel{
            margin-top: -3px;
            width: 16px;
          height: 16px;
          
          }
        }
      }
// Final del Responsive

.carrusel{ 
  margin: 0%;
padding: 0%;}

* {

  text-align: center;

}

body {
  margin: 0%;
  padding: 0%;
  // background: black;
}
.navbar {
  background: white;
}
.nav-link {
  color: white;
}

footer {
  background: black;
}
// Textos
p {
  color: white;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
article {
  color: white;
}
// Transformaciones
aside{
  height: 30px;
}
aside {
  height: 30px;
  .redes {
    letter-spacing: 15px;
  }
  %redes {
    transform: scale(2.3);
  }
  .face:hover {
    @extend %redes;
  }
  .insta:hover {
    @extend %redes;
  }
  .whap:hover {
    @extend %redes;
  }
}
aside {
  margin: 0%;
  padding: 0;
  background: black;
}
.topcel{
 
  
  color: red;
}