@media only screen and (max-width: 1920px) {
  .googlemap {
    width: 700px;
    height: 550px;
  }
  .menunav {
    margin: 0%;
    padding: 0%;
    font-size: 200%;
    margin-left: 55px !important;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
  }
  .pandita {
    height: 45px;
  }
  body {
    background: black;
  }
  .telefono {
    font-size: 125%;
  }
}

@media only screen and (max-width: 1320px) {
  .menunav {
    margin: 0%;
    padding: 0%;
    font-size: 120%;
    margin-left: 55px !important;
  }
}

@media only screen and (max-width: 1080px) {
  .icontel {
    width: 16px;
    height: 16px;
  }
  .menunav {
    margin: 0%;
    padding: 0%;
    font-size: 100%;
    margin-left: 100px;
  }
}

@media only screen and (max-width: 800px) {
  body {
    background: white;
  }
  .cartaimagenes {
    margin: 0%;
    padding: 0;
    margin-left: -11px;
    width: 800px;
    height: 800px;
  }
  .googlemap {
    margin-top: 15%;
    width: 500px;
    height: 490px;
  }
  .menunav {
    margin-left: 5px;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
  }
  .pandita {
    height: 35px;
  }
  .redes {
    text-align: start;
    margin-left: 350px;
    margin-top: -45px;
  }
  .telefono {
    font-size: 125%;
    margin-right: -150px;
  }
  .telefono .icontel {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .cartaimagenes {
    width: 600px;
  }
  body {
    background: white;
  }
  .icontel {
    width: 16px;
    height: 16px;
  }
  .googlemap {
    margin-top: 15%;
    width: 500px;
    height: 490px;
  }
  .menunav {
    margin-left: 5px;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
  }
  .pandita {
    height: 35px;
  }
  .redes {
    text-align: start;
    margin-left: 350px;
    margin-top: -45px;
  }
  .telefono {
    font-size: 125%;
    margin-right: 350px;
  }
}

@media only screen and (max-width: 700px) {
  .icontel {
    width: 16px;
    height: 16px;
  }
  .googlemap {
    margin-top: 15%;
    width: 500px;
    height: 490px;
  }
  .menunav {
    margin-left: 5px;
  }
  .pandita {
    height: 35px;
  }
  .redes {
    text-align: start;
    margin-left: 350px;
    margin-top: -45px;
  }
  .telefono {
    font-size: 125%;
    margin-right: 350px;
  }
}

@media only screen and (max-width: 500px) {
  .googlemap {
    width: 450px;
    height: 550px;
  }
}

@media only screen and (max-width: 420px) {
  .vermenuimg {
    width: 450px;
  }
  .topcel {
    margin-left: -290px;
  }
  .redes {
    margin-left: -10px;
    margin-top: -40px;
  }
}

.menunav {
  margin: 0%;
  padding: 0%;
  font-size: 200%;
  margin-left: 55px !important;
}

.pandita {
  height: 35px;
}

.redes {
  margin-left: 200px;
  margin-top: -10x;
}

.telefono {
  font-size: 125%;
  margin-right: 150px;
}

.telefono .icontel {
  margin-top: -3px;
  width: 16px;
  height: 16px;
}

@media only screen and (max-width: 375px) {
  .vermenuimg {
    width: 250px;
  }
}

.carrusel {
  margin: 0%;
  padding: 0%;
}

* {
  margin: 0%;
  padding: 0%;
  text-align: center;
}

* body {
  margin: 0%;
  padding: 0%;
}

* .navbar {
  background: white;
}

* .nav-link {
  color: white;
}

* footer {
  margin-top: 5%;
  background: black;
}

* p {
  color: white;
}

* h1 {
  color: white;
}

* h2 {
  color: white;
}

* h3 {
  color: white;
}

* h4 {
  color: white;
}

* article {
  color: white;
}

* aside {
  height: 30px;
}

* aside {
  height: 30px;
}

* aside .redes {
  letter-spacing: 15px;
}

* aside .face:hover, * aside .insta:hover, * aside .whap:hover {
  -webkit-transform: scale(2.3);
          transform: scale(2.3);
}

.telefono {
  font-size: 125%;
}
/*# sourceMappingURL=Style.css.map */