@media only screen and (max-width: 1920px) {
  .icontel {
    width: 16px;
    height: 16px;
  }
  aside {
    background: red;
  }
  .googlemap {
    width: 700px;
    height: 550px;
  }
  .menunav {
    margin-left: 100px;
  }
  .navbar {
    font-size: 35px;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
  }
  .pandita {
    height: 45px;
  }
  body {
    background: black;
  }
}

@media only screen and (max-width: 1080px) {
  .icontel {
    width: 16px;
    height: 16px;
  }
  .googlemap {
    margin-top: 15%;
    width: 500px;
    height: 490px;
  }
  .menunav {
    margin-left: 5px;
  }
  .navbar {
    font-size: 25px;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
  }
  .pandita {
    height: 35px;
  }
  body {
    background: black;
  }
}

@media only screen and (max-width: 800px) {
  .icontel {
    width: 16px;
    height: 16px;
  }
  .googlemap {
    margin-top: 15%;
    width: 500px;
    height: 490px;
  }
  .menunav {
    margin-left: 5px;
  }
  .navbar {
    font-size: 25px;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
  }
  .pandita {
    height: 35px;
  }
  body {
    background: black;
  }
}

@media only screen and (max-width: 767px) {
  .icontel {
    width: 16px;
    height: 16px;
  }
  .googlemap {
    margin-top: 15%;
    width: 500px;
    height: 490px;
  }
  .menunav {
    margin-left: 5px;
  }
  .navbar {
    font-size: 25px;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
  }
  .pandita {
    height: 35px;
  }
  .redesasid {
    margin-top: -45px;
  }
  body {
    background: black;
  }
  .telefasid {
    margin-left: -150px;
  }
}

@media only screen and (min-width: 420px) {
  .vermenuimg {
    width: 90%;
  }
  .googlemap {
    margin-top: 15%;
    width: 500px;
    height: 490px;
  }
  .menunav {
    margin-left: 5px;
  }
  .navbar {
    font-size: 25px;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
  }
  .pandita {
    height: 35px;
  }
  body {
    background: black;
  }
}

@media only screen and (max-width: 420px) {
  .vermenuimg {
    width: 90%;
  }
  .googlemap {
    margin-left: -30px;
    margin-top: 15%;
    width: 355px;
    height: 250px;
  }
  .menunav {
    margin-left: 5px;
  }
  .navbar {
    font-size: 25px;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
  }
  .pandita {
    height: 35px;
  }
  body {
    background: black;
  }
  .telefasid {
    margin-left: -90px;
  }
  .icontel {
    width: 16px;
    height: 16px;
  }
}

.carrusel {
  margin: 0%;
  padding: 0%;
}

* {
  text-align: center;
}

body {
  margin: 0%;
  padding: 0%;
}

.navbar {
  background: white;
}

.nav-link {
  color: white;
}

footer {
  background: black;
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

article {
  color: white;
}

aside {
  height: 30px;
}

aside {
  height: 30px;
}

aside .redes {
  letter-spacing: 15px;
}

aside .face:hover, aside .insta:hover, aside .whap:hover {
  -webkit-transform: scale(2.3);
          transform: scale(2.3);
}
/*# sourceMappingURL=Style.css.map */